In [1]:
import pandas as pd
import numpy as np

In [2]:

#df = pd.read_csv("/home/dsg/Escritorio/rodrigo_sargentes.csv")
#df = pd.read_excel("/home/dsg/Escritorio/rodrigo_sargentes.xlsx", engine='openpyxl')
#df = pd.read_csv("/home/dsg/Escritorio/M_rojo2.csv") #directorio de trabajo
df = pd.read_excel('/media/dsg/TOSHIBA EXT/PhD/DATA/20241101XRF_VORTEX_MACLAS/20241107XRF_DASA_VORTEX_MACLAS.xlsx', decimal=',')
#df = pd.read_excel('/media/dsg/TOSHIBA EXT/PhD/DATA/20241101XRF_For_VORTEX_MACLAS.xlsx',sheet_name='XRF')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Columns: 206 entries, Name to Fecha cuaderno
dtypes: bool(1), float64(20), object(185)
memory usage: 10.8+ MB

In [4]:
#df= df.drop_duplicates(subset=['Name'], keep='first')
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 206 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    Name               6925 non-null   object
 1    Inv. Pieza         4074 non-null   object
 2    Site               6913 non-null   object
 3    PK_coord           6791 non-null   object
 4    Publicada          6925 non-null   bool
 5    TIPO               6922 non-null   object
 6    Date HALO          1602 non-null   object
 7    INV. HALO          1400 non-null   object
 8    HALO 1             1383 non-null   object
 9    HALO 2             642 non-null    object
 10   HALO 3             198 non-null    object
 11   HALO 4             43 non-null     object
 12   XRD_code           733 non-null    object
 13   XRD_path           664 non-null    object
 14   XRD_MIN_           987 non-null    object
 15   XRD_MIN_2          59 non-null     object
 16   XRD_MIN_3          5 non-null      object
 17   Group              1949 non-null   object
 18   Subgroup           1947 non-null   object
 19   Hey's CIM          1949 non-null   object
 20   Grupo_min          21 non-null     object
 21   Raman              27 non-null     object
 22   ID_XMET            6897 non-null   object
 23   Method             6911 non-null   object
 24   Date XRF           6900 non-null   object
 25   Time               6897 non-null   object
 26   Duration           6910 non-null   float64
 27   Mg                 3650 non-null   float64
 28   +/-                3656 non-null   float64
 29   Al                 6896 non-null   float64
 30   +/-.1              6905 non-null   float64
 31   Si                 6901 non-null   float64
 32   +/-.2              6900 non-null   float64
 33   P                  6741 non-null   object
 34   +/-.3              6740 non-null   object
 35   S                  6780 non-null   object
 36   +/-.4              6827 non-null   object
 37   Cl                 6910 non-null   float64
 38   +/-.5              6906 non-null   float64
 39   Ar                 250 non-null    object
 40   +/-.6              239 non-null    object
 41   K                  4157 non-null   object
 42   +/-.7              4164 non-null   object
 43   Ca                 6800 non-null   float64
 44   +/-.8              6804 non-null   float64
 45   Sc                 258 non-null    object
 46   +/-.9              249 non-null    object
 47   Ti                 6662 non-null   object
 48   +/-.10             6669 non-null   object
 49   V                  2723 non-null   object
 50   +/-.11             2721 non-null   object
 51   Cr                 5909 non-null   object
 52   +/-.12             5907 non-null   object
 53   Mn                 1561 non-null   object
 54   +/-.13             1560 non-null   object
 55   Fe                 6550 non-null   float64
 56   +/-.14             6558 non-null   float64
 57   Co                 761 non-null    object
 58   +/-.15             749 non-null    object
 59   Ni                 1106 non-null   object
 60   +/-.16             1108 non-null   object
 61   Cu                 2549 non-null   object
 62   +/-.17             2558 non-null   object
 63   Zn                 4107 non-null   object
 64   +/-.18             4103 non-null   object
 65   Ga                 305 non-null    object
 66   +/-.19             296 non-null    object
 67   Ge                 326 non-null    object
 68   +/-.20             326 non-null    object
 69   As                 3619 non-null   object
 70   +/-.21             3628 non-null   object
 71   Se                 849 non-null    object
 72   +/-.22             838 non-null    object
 73   Br                 80 non-null     object
 74   +/-.23             78 non-null     object
 75   Kr                 122 non-null    object
 76   +/-.24             123 non-null    object
 77   Rb                 1608 non-null   object
 78   +/-.25             1611 non-null   object
 79   Sr                 4465 non-null   object
 80   +/-.26             4470 non-null   object
 81   Y                  155 non-null    object
 82   +/-.27             148 non-null    object
 83   Zr                 4615 non-null   object
 84   +/-.28             4621 non-null   object
 85   Nb                 320 non-null    object
 86   +/-.29             312 non-null    object
 87   Mo                 2716 non-null   object
 88   +/-.30             2725 non-null   object
 89   Tc                 99 non-null     object
 90   +/-.31             90 non-null     object
 91   Ru                 77 non-null     object
 92   +/-.32             77 non-null     object
 93   Rh                 154 non-null    object
 94   +/-.33             154 non-null    object
 95   Pd                 81 non-null     object
 96   +/-.34             82 non-null     object
 97   Ag                 1687 non-null   object
 98   +/-.35             1688 non-null   object
 99   Cd                 620 non-null    object
 100  +/-.36             621 non-null    object
 101  In                 83 non-null     object
 102  +/-.37             82 non-null     object
 103  Sn                 3098 non-null   object
 104  +/-.38             3106 non-null   object
 105  Sb                 1316 non-null   object
 106  +/-.39             1307 non-null   object
 107  Te                 80 non-null     object
 108  +/-.40             79 non-null     object
 109  I                  75 non-null     object
 110  +/-.41             75 non-null     object
 111  Xe                 75 non-null     object
 112  +/-.42             75 non-null     object
 113  Cs                 75 non-null     object
 114  +/-.43             76 non-null     object
 115  Ba                 2360 non-null   object
 116  +/-.44             2365 non-null   object
 117  La                 91 non-null     object
 118  +/-.45             85 non-null     object
 119  Ce                 75 non-null     object
 120  +/-.46             75 non-null     object
 121  Pr                 75 non-null     object
 122  +/-.47             75 non-null     object
 123  Nd                 75 non-null     object
 124  +/-.48             75 non-null     object
 125  Pm                 75 non-null     object
 126  +/-.49             75 non-null     object
 127  Sm                 75 non-null     object
 128  +/-.50             75 non-null     object
 129  Eu                 75 non-null     object
 130  +/-.51             75 non-null     object
 131  Gd                 75 non-null     object
 132  +/-.52             75 non-null     object
 133  Tb                 75 non-null     object
 134  +/-.53             75 non-null     object
 135  Dy                 75 non-null     object
 136  +/-.54             75 non-null     object
 137  Ho                 75 non-null     object
 138  +/-.55             75 non-null     object
 139  Er                 75 non-null     object
 140  +/-.56             75 non-null     object
 141  Tm                 75 non-null     object
 142  +/-.57             75 non-null     object
 143  Yb                 75 non-null     object
 144  +/-.58             75 non-null     object
 145  Lu                 75 non-null     object
 146  +/-.59             75 non-null     object
 147  Hf                 75 non-null     object
 148  +/-.60             75 non-null     object
 149  Ta                 3374 non-null   object
 150  +/-.61             3377 non-null   object
 151  W                  155 non-null    object
 152  +/-.62             152 non-null    object
 153  Re                 28 non-null     object
 154  +/-.63             28 non-null     object
 155  Os                 28 non-null     object
 156  +/-.64             28 non-null     object
 157  Ir                 28 non-null     object
 158  +/-.65             28 non-null     object
 159  Pt                 28 non-null     object
 160  +/-.66             28 non-null     object
 161  Au                 517 non-null    object
 162  +/-.67             517 non-null    object
 163  Hg                 592 non-null    object
 164  +/-.68             592 non-null    object
 165  Tl                 992 non-null    object
 166  +/-.69             996 non-null    object
 167  Pb                 489 non-null    object
 168  +/-.70             486 non-null    object
 169  Bi                 3 non-null      object
 170  +/-.71             2 non-null      object
 171  Po                 1 non-null      object
 172  +/-.72             1 non-null      object
 173  At                 1 non-null      object
 174  +/-.73             1 non-null      object
 175  Rn                 1 non-null      object
 176  +/-.74             1 non-null      object
 177  Fr                 1 non-null      object
 178  +/-.75             1 non-null      object
 179  Ra                 1 non-null      object
 180  +/-.76             1 non-null      object
 181  Ac                 1 non-null      object
 182  +/-.77             1 non-null      object
 183  Th                 14 non-null     object
 184  +/-.78             14 non-null     object
 185  Pa                 1 non-null      object
 186  +/-.79             1 non-null      object
 187  U                  1 non-null      object
 188  +/-.80             1 non-null      object
 189  Materia Prima      62 non-null     object
 190  Museum             1555 non-null   object
 191  Decorated          18 non-null     object
 192  Color              677 non-null    object
 193  Perforación tipo   8 non-null      object
 194  Alto               485 non-null    float64
 195  Alto. Max          0 non-null      float64
 196  Ancho / Diam       478 non-null    float64
 197  Ancho min          22 non-null     float64
 198  Largo / Grosor     142 non-null    float64
 199  Diam. Perforación  484 non-null    float64
 200  Peso               463 non-null    object
 201  Type               566 non-null    object
 202  L                  1 non-null      object
 203  A                  9 non-null      object
 204  B                  0 non-null      float64
 205  Fecha cuaderno     30 non-null     object
dtypes: bool(1), float64(20), object(185)
memory usage: 10.8+ MB

/tmp/ipykernel_32953/830345148.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

 Performing a basic dimensional reduction by eliminating columns containing the "+/-" character.

In [3]:
#Dimensional reduction 
df = df.loc[:, ~df.columns.str.startswith('+/-')]
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 125 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    Name               6925 non-null   object
 1    Inv. Pieza         4074 non-null   object
 2    Site               6913 non-null   object
 3    PK_coord           6791 non-null   object
 4    Publicada          6925 non-null   bool
 5    TIPO               6922 non-null   object
 6    Date HALO          1602 non-null   object
 7    INV. HALO          1400 non-null   object
 8    HALO 1             1383 non-null   object
 9    HALO 2             642 non-null    object
 10   HALO 3             198 non-null    object
 11   HALO 4             43 non-null     object
 12   XRD_code           733 non-null    object
 13   XRD_path           664 non-null    object
 14   XRD_MIN_           987 non-null    object
 15   XRD_MIN_2          59 non-null     object
 16   XRD_MIN_3          5 non-null      object
 17   Group              1949 non-null   object
 18   Subgroup           1947 non-null   object
 19   Hey's CIM          1949 non-null   object
 20   Grupo_min          21 non-null     object
 21   Raman              27 non-null     object
 22   ID_XMET            6897 non-null   object
 23   Method             6911 non-null   object
 24   Date XRF           6900 non-null   object
 25   Time               6897 non-null   object
 26   Duration           6910 non-null   float64
 27   Mg                 3650 non-null   float64
 28   Al                 6896 non-null   float64
 29   Si                 6901 non-null   float64
 30   P                  6741 non-null   object
 31   S                  6780 non-null   object
 32   Cl                 6910 non-null   float64
 33   Ar                 250 non-null    object
 34   K                  4157 non-null   object
 35   Ca                 6800 non-null   float64
 36   Sc                 258 non-null    object
 37   Ti                 6662 non-null   object
 38   V                  2723 non-null   object
 39   Cr                 5909 non-null   object
 40   Mn                 1561 non-null   object
 41   Fe                 6550 non-null   float64
 42   Co                 761 non-null    object
 43   Ni                 1106 non-null   object
 44   Cu                 2549 non-null   object
 45   Zn                 4107 non-null   object
 46   Ga                 305 non-null    object
 47   Ge                 326 non-null    object
 48   As                 3619 non-null   object
 49   Se                 849 non-null    object
 50   Br                 80 non-null     object
 51   Kr                 122 non-null    object
 52   Rb                 1608 non-null   object
 53   Sr                 4465 non-null   object
 54   Y                  155 non-null    object
 55   Zr                 4615 non-null   object
 56   Nb                 320 non-null    object
 57   Mo                 2716 non-null   object
 58   Tc                 99 non-null     object
 59   Ru                 77 non-null     object
 60   Rh                 154 non-null    object
 61   Pd                 81 non-null     object
 62   Ag                 1687 non-null   object
 63   Cd                 620 non-null    object
 64   In                 83 non-null     object
 65   Sn                 3098 non-null   object
 66   Sb                 1316 non-null   object
 67   Te                 80 non-null     object
 68   I                  75 non-null     object
 69   Xe                 75 non-null     object
 70   Cs                 75 non-null     object
 71   Ba                 2360 non-null   object
 72   La                 91 non-null     object
 73   Ce                 75 non-null     object
 74   Pr                 75 non-null     object
 75   Nd                 75 non-null     object
 76   Pm                 75 non-null     object
 77   Sm                 75 non-null     object
 78   Eu                 75 non-null     object
 79   Gd                 75 non-null     object
 80   Tb                 75 non-null     object
 81   Dy                 75 non-null     object
 82   Ho                 75 non-null     object
 83   Er                 75 non-null     object
 84   Tm                 75 non-null     object
 85   Yb                 75 non-null     object
 86   Lu                 75 non-null     object
 87   Hf                 75 non-null     object
 88   Ta                 3374 non-null   object
 89   W                  155 non-null    object
 90   Re                 28 non-null     object
 91   Os                 28 non-null     object
 92   Ir                 28 non-null     object
 93   Pt                 28 non-null     object
 94   Au                 517 non-null    object
 95   Hg                 592 non-null    object
 96   Tl                 992 non-null    object
 97   Pb                 489 non-null    object
 98   Bi                 3 non-null      object
 99   Po                 1 non-null      object
 100  At                 1 non-null      object
 101  Rn                 1 non-null      object
 102  Fr                 1 non-null      object
 103  Ra                 1 non-null      object
 104  Ac                 1 non-null      object
 105  Th                 14 non-null     object
 106  Pa                 1 non-null      object
 107  U                  1 non-null      object
 108  Materia Prima      62 non-null     object
 109  Museum             1555 non-null   object
 110  Decorated          18 non-null     object
 111  Color              677 non-null    object
 112  Perforación tipo   8 non-null      object
 113  Alto               485 non-null    float64
 114  Alto. Max          0 non-null      float64
 115  Ancho / Diam       478 non-null    float64
 116  Ancho min          22 non-null     float64
 117  Largo / Grosor     142 non-null    float64
 118  Diam. Perforación  484 non-null    float64
 119  Peso               463 non-null    object
 120  Type               566 non-null    object
 121  L                  1 non-null      object
 122  A                  9 non-null      object
 123  B                  0 non-null      float64
 124  Fecha cuaderno     30 non-null     object
dtypes: bool(1), float64(14), object(110)
memory usage: 6.6+ MB

/tmp/ipykernel_33002/2807714660.py:3: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

Then we create an intermediate dataframe filtering only the columns with information of our interest

In [4]:
contextual_info = df.iloc[:, :27]
filter_df = df.iloc[:, 27:108] 
#filter_df['index'] = df['index']
#filter_df =df.drop(['Name'], axis=1)
filter_df.info()
#contextual_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      3650 non-null   float64
 1   Al      6896 non-null   float64
 2   Si      6901 non-null   float64
 3   P       6741 non-null   object
 4   S       6780 non-null   object
 5   Cl      6910 non-null   float64
 6   Ar      250 non-null    object
 7   K       4157 non-null   object
 8   Ca      6800 non-null   float64
 9   Sc      258 non-null    object
 10  Ti      6662 non-null   object
 11  V       2723 non-null   object
 12  Cr      5909 non-null   object
 13  Mn      1561 non-null   object
 14  Fe      6550 non-null   float64
 15  Co      761 non-null    object
 16  Ni      1106 non-null   object
 17  Cu      2549 non-null   object
 18  Zn      4107 non-null   object
 19  Ga      305 non-null    object
 20  Ge      326 non-null    object
 21  As      3619 non-null   object
 22  Se      849 non-null    object
 23  Br      80 non-null     object
 24  Kr      122 non-null    object
 25  Rb      1608 non-null   object
 26  Sr      4465 non-null   object
 27  Y       155 non-null    object
 28  Zr      4615 non-null   object
 29  Nb      320 non-null    object
 30  Mo      2716 non-null   object
 31  Tc      99 non-null     object
 32  Ru      77 non-null     object
 33  Rh      154 non-null    object
 34  Pd      81 non-null     object
 35  Ag      1687 non-null   object
 36  Cd      620 non-null    object
 37  In      83 non-null     object
 38  Sn      3098 non-null   object
 39  Sb      1316 non-null   object
 40  Te      80 non-null     object
 41  I       75 non-null     object
 42  Xe      75 non-null     object
 43  Cs      75 non-null     object
 44  Ba      2360 non-null   object
 45  La      91 non-null     object
 46  Ce      75 non-null     object
 47  Pr      75 non-null     object
 48  Nd      75 non-null     object
 49  Pm      75 non-null     object
 50  Sm      75 non-null     object
 51  Eu      75 non-null     object
 52  Gd      75 non-null     object
 53  Tb      75 non-null     object
 54  Dy      75 non-null     object
 55  Ho      75 non-null     object
 56  Er      75 non-null     object
 57  Tm      75 non-null     object
 58  Yb      75 non-null     object
 59  Lu      75 non-null     object
 60  Hf      75 non-null     object
 61  Ta      3374 non-null   object
 62  W       155 non-null    object
 63  Re      28 non-null     object
 64  Os      28 non-null     object
 65  Ir      28 non-null     object
 66  Pt      28 non-null     object
 67  Au      517 non-null    object
 68  Hg      592 non-null    object
 69  Tl      992 non-null    object
 70  Pb      489 non-null    object
 71  Bi      3 non-null      object
 72  Po      1 non-null      object
 73  At      1 non-null      object
 74  Rn      1 non-null      object
 75  Fr      1 non-null      object
 76  Ra      1 non-null      object
 77  Ac      1 non-null      object
 78  Th      14 non-null     object
 79  Pa      1 non-null      object
 80  U       1 non-null      object
dtypes: float64(6), object(75)
memory usage: 4.3+ MB

In [5]:
filter_df = filter_df.replace('#DIV/0!', float('nan'))

filter_df = filter_df.astype(float)
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      3650 non-null   float64
 1   Al      6896 non-null   float64
 2   Si      6901 non-null   float64
 3   P       6740 non-null   float64
 4   S       6777 non-null   float64
 5   Cl      6910 non-null   float64
 6   Ar      175 non-null    float64
 7   K       4130 non-null   float64
 8   Ca      6800 non-null   float64
 9   Sc      183 non-null    float64
 10  Ti      6661 non-null   float64
 11  V       2674 non-null   float64
 12  Cr      5903 non-null   float64
 13  Mn      1489 non-null   float64
 14  Fe      6550 non-null   float64
 15  Co      687 non-null    float64
 16  Ni      1033 non-null   float64
 17  Cu      2503 non-null   float64
 18  Zn      4071 non-null   float64
 19  Ga      230 non-null    float64
 20  Ge      251 non-null    float64
 21  As      3544 non-null   float64
 22  Se      777 non-null    float64
 23  Br      5 non-null      float64
 24  Kr      47 non-null     float64
 25  Rb      1540 non-null   float64
 26  Sr      4431 non-null   float64
 27  Y       80 non-null     float64
 28  Zr      4603 non-null   float64
 29  Nb      245 non-null    float64
 30  Mo      2690 non-null   float64
 31  Tc      24 non-null     float64
 32  Ru      2 non-null      float64
 33  Rh      79 non-null     float64
 34  Pd      6 non-null      float64
 35  Ag      1648 non-null   float64
 36  Cd      547 non-null    float64
 37  In      8 non-null      float64
 38  Sn      3067 non-null   float64
 39  Sb      1249 non-null   float64
 40  Te      5 non-null      float64
 41  I       0 non-null      float64
 42  Xe      0 non-null      float64
 43  Cs      0 non-null      float64
 44  Ba      2305 non-null   float64
 45  La      16 non-null     float64
 46  Ce      0 non-null      float64
 47  Pr      0 non-null      float64
 48  Nd      0 non-null      float64
 49  Pm      0 non-null      float64
 50  Sm      0 non-null      float64
 51  Eu      0 non-null      float64
 52  Gd      0 non-null      float64
 53  Tb      0 non-null      float64
 54  Dy      0 non-null      float64
 55  Ho      0 non-null      float64
 56  Er      0 non-null      float64
 57  Tm      0 non-null      float64
 58  Yb      0 non-null      float64
 59  Lu      0 non-null      float64
 60  Hf      0 non-null      float64
 61  Ta      3354 non-null   float64
 62  W       128 non-null    float64
 63  Re      0 non-null      float64
 64  Os      0 non-null      float64
 65  Ir      0 non-null      float64
 66  Pt      0 non-null      float64
 67  Au      489 non-null    float64
 68  Hg      564 non-null    float64
 69  Tl      973 non-null    float64
 70  Pb      471 non-null    float64
 71  Bi      2 non-null      float64
 72  Po      0 non-null      float64
 73  At      0 non-null      float64
 74  Rn      0 non-null      float64
 75  Fr      0 non-null      float64
 76  Ra      0 non-null      float64
 77  Ac      0 non-null      float64
 78  Th      13 non-null     float64
 79  Pa      0 non-null      float64
 80  U       0 non-null      float64
dtypes: float64(81)
memory usage: 4.3 MB

In [ ]:
#missing_values_count = filter_df.isnull().sum()

In [ ]:
#missing_values_percentage = (missing_values_count / filter_df.shape[0]) * 100
#missing_values_percentage.info(verbose=True)
#missing_values_percentage.to_csv("./intermediate_data/missing_values_percentage.csv")

In [ ]:
#total_missing_values_percentage = missing_values_percentage.sum()
#print(f"Total de valores faltantes: {total_missing_values_percentage:.2f}%")

Appling a 20% threshold of NaN values for delete columns (Optional)

In [ ]:
nan_treshold = 0.80  
cases = len(df) 

# iterate over each column of filter_df and eliminate those that exceed the limit of missing values
for col in filter_df.columns:
    missing_values = filter_df[col].isnull().sum()  # missinig values in each column
    missing_values_percentage = missing_values / cases  # precentage of NaN 

     #drop a column if NaN is greater than 20%
    if missing_values_percentage > nan_treshold:
        del filter_df[col]

---

In [6]:
filter_df[filter_df == 0] = np.nan

In [7]:
default_values = {
        'Mg': 0.01,'Al': 0.001,'Si': 0.001,
        'P': 0.001,'S': 0.001,'Cl': 0.001,
        'K': 0.0001,'Ca': 0.0001,'Sc': 0.0001,
        'Ti': 0.0001,'V': 0.0001,'Cr': 0.0001,
        'Mn': 0.0001,'Fe': 0.0001,'Co': 0.0001,
        'Ni': 0.0001,'Cu': 0.00001,'Zn': 0.00001,
        'Ga': 0.00001,'Ge': 0.00001,'As': 0.00001,
        'Se': 0.00001,'Br': 0.00001,'Rb': 0.00001,
        'Sr': 0.00001,'Y': 0.00001,'Zr': 0.00001,
        'Nb': 0.00001,'Mo': 0.00001,'Ru': 0.00001,
        'Pd': 0.00001,'Ag': 0.00001,'Cd': 0.00001,
        'In': 0.00001,'Sn': 0.00001,'Sb': 0.00001,
        'Te': 0.00001,'Ba': 0.00001,'Ta': 0.00001,
        'W': 0.00001,'Au': 0.00001,'Hg': 0.00001,
        'Tl': 0.00001,'Pb': 0.00001,'Th': 0.00001
    }
        


filter_df= filter_df.fillna(default_values)
filter_df= filter_df.fillna(0)
filter_df.head()

,Mg,Al,Si,P,S,Cl,Ar,K,Ca,Sc,...,Bi,Po,At,Rn,Fr,Ra,Ac,Th,Pa,U
0,0.0100,24.8305,16.9438,0.1200,0.7630,0.9891,0.0,0.6746,2.0343,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0
1,1.1011,18.4370,19.1407,0.0473,0.0258,0.2865,0.0,7.8140,0.0743,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0
2,0.0100,18.3280,19.7732,0.0428,0.0843,0.3961,0.0,8.3570,0.0822,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0
3,0.0100,19.7656,18.6687,0.2149,0.1177,0.6216,0.0,7.6000,0.4482,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0
4,0.0100,9.7002,16.9975,1.1524,0.5776,2.1754,0.0,1.8883,1.3459,0.0001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00001,0.0,0.0

In [ ]:
filter_df.info()

## Optional to select only some elements

In [ ]:
elements = ['Mg','Al','Si','P','S','Cl','K','Ca','Sc','Ti','V','Cr','Mn','Fe','Co',
 'Ni','Cu','Zn','Ga','Ge','As','Se','Br','Rb','Sr','Y','Zr',
 'Nb','Mo','Ru','Pd','Ag','Cd','In','Sn','Sb','Te','Ba','Ta',
 'W','Au','Hg','Tl','Pb','Th']

In [ ]:
filter_df= filter_df[elements]
filter_df.info()

---

Transforming values into atomic percentages by dividing each column value by the atomic weight of its element.

In [8]:
atomic_weights = {
        'Mg': 24.305,'Al': 26.982,'Si': 28.085,'P': 30.974,
        'S': 32.06,'Cl': 35.45,'K': 39.098,'Ca': 40.078,
        'Sc': 44.955,'Ti': 47.867,'V': 50.942,'Cr': 51.996,
        'Mn': 54.938,'Fe': 55.845,'Co': 58.933,'Ni': 58.693,
        'Cu': 63.546,'Zn': 65.38,'Ga': 69.723,'Ge': 72.63,
        'As': 74.922,'Se': 78.971,'Br': 79.904,'Rb': 85.468,
        'Sr': 87.62,'Y': 88.906,'Zr': 91.224,'Nb': 92.906,
        'Mo': 95.94,'Ru': 101.07,'Pd': 106.42,'Ag': 107.87,
        'Cd': 112.41,'In': 114.82,'Sn': 118.71,'Sb': 121.76,
        'Te': 127.60,'Ba': 137.60,'Ta': 180.95,'W': 183.84,
        'Au': 196.97,'Hg': 200.59,'Tl': 204.38,'Pb': 207.2,
        'Th': 232.04
    } 

# transform into atomic percentages________________________
for col, value in atomic_weights.items():
        try:
            filter_df[col] = filter_df[col] / value 
        except KeyError: # Ignoring if a column is not numeric
            pass

summing up the values of each sample and storing them in the sum variable

In [9]:
filter_df['Σ'] = np.sum(filter_df.iloc[:, :-1].values, axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,Ar,K,Ca,Sc,...,Po,At,Rn,Fr,Ra,Ac,Th,Pa,U,Σ
0,0.000411,0.920262,0.603304,0.003874,0.023799,0.027901,0.0,0.017254,0.050759,0.000002,...,0.0,0.0,0.0,0.0,0.0,0.0,4.309602e-08,0.0,0.0,1.664365
1,0.045303,0.683307,0.681528,0.001527,0.000805,0.008082,0.0,0.199857,0.001854,0.000002,...,0.0,0.0,0.0,0.0,0.0,0.0,4.309602e-08,0.0,0.0,1.652835
2,0.000411,0.679268,0.704048,0.001382,0.002629,0.011173,0.0,0.213745,0.002051,0.000002,...,0.0,0.0,0.0,0.0,0.0,0.0,4.309602e-08,0.0,0.0,1.643130
3,0.000411,0.732548,0.664721,0.006938,0.003671,0.017535,0.0,0.194383,0.011183,0.000002,...,0.0,0.0,0.0,0.0,0.0,0.0,4.309602e-08,0.0,0.0,1.655684
4,0.000411,0.359506,0.605216,0.037205,0.018016,0.061365,0.0,0.048297,0.033582,0.000002,...,0.0,0.0,0.0,0.0,0.0,0.0,4.309602e-08,0.0,0.0,1.504078

In [10]:

for col in filter_df.columns:
    if col != 'Σ':
        filter_df[col] = filter_df[col] / filter_df['Σ'] * 100

In [11]:
filter_df = filter_df.drop(['Σ'], axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,Ar,K,Ca,Sc,...,Bi,Po,At,Rn,Fr,Ra,Ac,Th,Pa,U
0,0.024720,55.292069,36.248322,0.232775,1.429923,1.676392,0.0,1.036677,3.049724,0.000134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0
1,2.740954,41.341544,41.233857,0.092392,0.048689,0.488966,0.0,12.091758,0.112164,0.000135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0
2,0.025040,41.339853,42.847996,0.084096,0.160027,0.680012,0.0,13.008399,0.124823,0.000135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0
3,0.024850,44.244408,40.147839,0.419046,0.221736,1.059052,0.0,11.740364,0.675442,0.000134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0
4,0.027355,23.902113,40.238369,2.473635,1.197825,4.079929,0.0,3.211044,2.232731,0.000148,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0

In [12]:
filter_df['Σ'] = np.sum(filter_df.values, axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,Ar,K,Ca,Sc,...,Po,At,Rn,Fr,Ra,Ac,Th,Pa,U,Σ
0,0.024720,55.292069,36.248322,0.232775,1.429923,1.676392,0.0,1.036677,3.049724,0.000134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
1,2.740954,41.341544,41.233857,0.092392,0.048689,0.488966,0.0,12.091758,0.112164,0.000135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
2,0.025040,41.339853,42.847996,0.084096,0.160027,0.680012,0.0,13.008399,0.124823,0.000135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
3,0.024850,44.244408,40.147839,0.419046,0.221736,1.059052,0.0,11.740364,0.675442,0.000134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
4,0.027355,23.902113,40.238369,2.473635,1.197825,4.079929,0.0,3.211044,2.232731,0.000148,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0

Merging preprocessed data with contextual information.

In [14]:
preprocessed_df = pd.concat([contextual_info, filter_df], axis="columns")

preprocessed_df.head()

,Name,Inv. Pieza,Site,PK_coord,Publicada,TIPO,Date HALO,INV. HALO,HALO 1,HALO 2,...,Po,At,Rn,Fr,Ra,Ac,Th,Pa,U,Σ
0,TOP-94_297,-94.297 TOP,Alto da Feteira,CNS3024,False,CUENTA,11/10/17,36,Cookeita,Saponita,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
1,MNA0702-0001,2015.3.7,Anta 7 de Estremoz - Anta de Nossa Senhora da ...,CNS2276,False,CUENTA,19/10/17,709,SC,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
2,MNA0702-0002,2015.3.8,Anta 7 de Estremoz - Anta de Nossa Senhora da ...,CNS2276,False,CUENTA,19/10/17,710,SC,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
3,MNA0702-0004,2015.3.10,Anta 7 de Estremoz - Anta de Nossa Senhora da ...,CNS2276,False,CUENTA,19/10/17,712,Moscovita,Rectorita,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0
4,MNA0702-0244,NaN,Anta 7 de Estremoz - Anta de Nossa Senhora da ...,CNS2276,False,CUENTA,19/10/17,714,Clorita ferromagnésica,Moscovita,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.0,0.0,100.0

In [16]:
#preprocessed_df.to_csv("./intermediate_data/dset_preprocessed.csv") #rename if neccesary
preprocessed_df.to_excel("/media/dsg/TOSHIBA EXT/PhD/DATA/20241101XRF_VORTEX_MACLAS/20241107XRF_For_VORTEX_MACLAS_Formatted.xlsx") #rename if neccesary

In [ ]:
filter_df.to_csv("/home/dsg/Escritorio/rojoNav_preprocessed.csv") #rename if neccesary